<!DOCTYPE html>
<html>
    <head>
  <meta charset="UTF-8">
  <title>Our Cool PDF Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {{> Mystyle }}
</head>
<body class="mx-5">
    <div class="hr" >2 REGISTROS</div>
    <div class="register">
        <div class="row">
        <div class="portada-subtitle"  >#:</div>
            <div style="padding-left : 10px">
                <div style="display: column; ">
                    <div style="display: flex;">
                    <div class="portada-subtitle" >IGEN SA </div>
                    <span style="padding-left: 10px;">(Pertenece a ruta: Ruta HOCERA)</span>
                    </div>
                    <div class="wrapper">
                        <div style="grid-column:1; grid-row:1;">
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Fecha:</div>
                            <span> 20/2/2022</span>
                            </div>
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Ubicación:</div>
                            <span> KM 13.5 Vía a Samborondon</span>
                            </div>
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Sector:</div>
                            <span> Colonias del recreo</span>
                            </div>
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Tiempo en punto:</div>
                            <span> 0h 37min</span>
                            </div>
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Guias de remision:</div>
                            <div class="input-chip">dsa</div>
                            </div>
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Detalles de gestion:</div>
                            </div>
                        </div>
                        <div style="grid-column:2; grid-row:1;">
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Estado:</div>
                            <span> Todo Ok</span>
                            </div>
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Responsable:</div>
                            <span> Cesar Cobos</span>
                            </div>
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Combustible:</div>
                            <span>13 Galones</span>
                            </div>
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">KM recorrido:</div>
                            <span> 9 km</span>
                            </div>
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Producto:</div>
                            <span>130 bine(s)</span>
                            </div>
                            <div style="display: flex;">
                            <div style="font-weight: bold; padding-right:10px">Etiqueta:</div>
                            <div class="input-chip">asdasdadas</div>
                            </div>
                        </div>
                    </div>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
magna aliqua. Ut enim ad minim veniam</span>
                </div>
            </div>
        </div> 
        </div>

</body>
</html>