<!DOCTYPE html>
<html>
    <head>
  <meta charset="UTF-8">
  <title>Our Cool PDF Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {{> Mystyle }}
</head>
<body class="mx-5">

<div class="text-center">
        <img src="https://i.blogs.es/2b63f8/androidze/1366_2000.webp" width="300px">
    </div>
    <div class="portada-title ">Reporte de Registro</div>
    <div class="portada-subtitle">6 de septiembre - 6 de octubre</div>
    <table>
        <td style="width: 50%">
            <div class="portada-subtitle">Responsable:</div>
            <div class ="column"> Manuel asdasdasdaadasda</div>
            <div class="column"> Andres</div>
            <div class="portada-subtitle">Etiquetas:</div>
            <div class="d-flex flex-wrap">
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>
                <div class="input-chip">dsa</div>


            </div>

        </td>
        <td>
            <div class="portada-subtitle">Estado de ruta(s):</div>
            <div class ="column"> Completa </div>
            <div class="column"> Incompleta</div>
            <div class="portada-subtitle">Estado de gestión:</div>
            <div class ="column"> activo </div>
            <div class="column"> activo</div>
        </td>
    </table>

    <div class="hr"> GESTIÓN</div>
    <div class="portada-subtitle">Información del destino</div>
    <div style="display: flex; justify-content: space-between; border: black 1px solid">
        <td>
            <div class="">
                <div class="title-report">Nombre de Empresa</div>
                <div> Escuela Superior Politecnica del Litoral</div>
                <div class="title-report"> Nombre de Contacto</div>
                <div>Manuelita Saenz</div>
            </div>
        </td>
        <td>
            <div class="">
            <div class="title-report">E-mail</div>
            <div>jjzapata@espol.edu.ec</div>
            <div class="title-report"> Ubicación</div>
            <div> Gustavo Galindo</div>
            </div>
        </td>
        <td>
            <div class="">
            <div class="title-report">Telefono</div>
            <div> 0912345678</div>
            <div class="title-report"> Sector</div>
            <div>Ceivos Perimetral</div>
            </div>
        </td>
    </div>

    <div class="portada-subtitle">Información de gestión</div>
    <table style="justify-content: space-around;">
        <td>
            <div class="column">
            <div class="title-report">Guias de remision</div>
            <div> ------</div>
            <div class="title-report"> Combustible</div>
            <div>2 Galones</div>
            </div>
        </td>
        <td>
            <div class="column">
            <div class="title-report">Detalle de gestión</div>
            <div>camaretas</div>
            <div class="title-report"> Producto</div>
            <div> nose</div>
            </div>
        </td>
        <td>
            <div class="column">
            <div class="title-report">Fotos</div>
            <div> 3 fotos</div>
            <div class="title-report">Km recorridos</div>
            <div>10 km</div>
            </div>
        </td>
    </table>

    <div class="portada-subtitle">Información del Receptor</div>
    <table style="justify-content: space-around;">
        <td>
            <div class="column">
            <div class="title-report">Nombre del receptor</div>
            <div> Polito</div>

            </div>
        </td>
        <td>
            <div class="column">
            <div class="title-report">Cedula del receptor</div>
            <div>201291212</div>

            </div>
        </td>
        <td>
            <div class="column">
            <div class="title-report">Firma</div>
            <div> sdasda</div>

            </div>
        </td>
    </table>

</body>
</html>
